<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- Fonts -->
  <script src="https://use.typekit.net/sjr5wei.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

</head>

<body>
  <nav class="navigation full-column-full">
    <h1><a href="/">{{ site.name }}</a></h1>
    <ul class="menu">
      <li>
        <a href="/grid">Grid System</a>
      </li>
      <li>
        <a href="/typography">Typography</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    {{ content }}

    <section>
      <div class="footer full-column">
        <div class="contact">
          <p>
            Your Name is<br /> What You Are<br /> you@example.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/yourusername">github.com/yourusername</a><br />
            <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
          </p>
        </div>
      </div>
    </section>
  </div>

  <!-- jQuery library -->
  <script src="/js/jquery-3.2.0.min.js"></script>

  <!-- Animation replacement for animate() -->
  <script src="http://velocityjs.org/build/jquery.velocity.min.js"></script>
  <script src="http://velocityjs.org/build/velocity.ui.js"></script>

  <!-- Main javascript file -->
  <script src="/js/main.js"></script>

</body>

</html>
