html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}

/*---------------------------------
Examples formatting
----------------------------------*/

.examples {
    text-align: center;

    div {
        height:auto;
        position: relative;
        min-height:10em;
        h2 {
          position: absolute;
          width:100%;
          top:50%;
          transform:translateY(-50%);
        }
    }

}
.header{
  padding:20px 0;
}

/*---------------------------------
Grids
----------------------------------*/

$neat-grid: ( columns: 1, gutter: 20px, );
$neat-small: ( columns: 2, gutter: 20px, media: 600px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-medium: ( columns: 6, gutter: 20px, media: 900px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-large: ( columns: 12, gutter: 20px, media: 1200px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-larger: ( columns: 12, gutter: 20px, media: 1800px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-super: ( columns: 12, gutter: 20px, media: 2400px, color: rgba(#00d4ff, 0.25), direction: ltr, );

$neat-grid-full: ( columns: 1, gutter: 0px, );
$neat-small-full: ( columns: 2, gutter: 0px, media: 600px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-medium-full: ( columns: 6, gutter: 0px, media: 900px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-large-full: ( columns: 12, gutter: 0px, media: 1200px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-larger-full: ( columns: 12, gutter: 0px, media: 1800px, color: rgba(#00d4ff, 0.25), direction: ltr, );
$neat-super-full: ( columns: 12, gutter: 0px, media: 2400px, color: rgba(#00d4ff, 0.25), direction: ltr, );


.container {
  @include grid-container;
  @include grid-visual;

  @include grid-media($neat-small) {
       @include grid-container($neat-small);
       @include grid-visual;
  }
  @include grid-media($neat-medium) {
       @include grid-container($neat-medium);
       @include grid-visual;
  }
  @include grid-media($neat-large) {
       @include grid-container($neat-large);
       @include grid-visual;
  }
  @include grid-media($neat-larger) {
       @include grid-container($neat-larger);
       @include grid-visual;
  }
  @include grid-media($neat-super) {
       @include grid-container($neat-super);
       @include grid-visual;
  }
}

.full-edge {
    @include grid-collapse;
}

/*---------------------------------
Standard Columns
----------------------------------*/

.full-column {
    @include grid-column(1);
}

.half-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(3);
    }
    @include grid-media($neat-large) {
         @include grid-column(6);
    }
}

.one-thirds-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium) {
         @include grid-column(2);
    }
    @include grid-media($neat-large) {
         @include grid-column(4);
    }
}

.fourth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(3);
    }
    @include grid-media($neat-large) {
         @include grid-column(3);
    }
}

.sixth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(2);
    }
    @include grid-media($neat-large) {
         @include grid-column(2);
    }
}

.twelfth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium) {
         @include grid-column(2);
    }
    @include grid-media($neat-large) {
         @include grid-column(1);
    }
}

.two-thirds-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium) {
         @include grid-column(4);
    }
    @include grid-media($neat-large) {
         @include grid-column(8);
    }
}

/*---------------------------------
Full Grids
---------------------------------*/

.full-column-full {
    @include grid-column(1, $neat-grid-full);
}

.half-column-full {
    @include grid-column(1);
    @include grid-media($neat-small-full) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium-full) {
         @include grid-column(3);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(6);
    }
}

.third-column-full {
    @include grid-column(1);
    @include grid-media($neat-medium-full) {
         @include grid-column(2);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(4);
    }
}

.fourth-column-full {
    @include grid-column(1);
    @include grid-media($neat-small-full) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium-full) {
         @include grid-column(3);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(3);
    }
}

.sixth-column-full {
    @include grid-column(1);
    @include grid-media($neat-small-full) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium-full) {
         @include grid-column(2);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(2);
    }
}

.twelfth-column-full {
    @include grid-column(1);
    @include grid-media($neat-small-full) {
         @include grid-column(1);
    }
    @include grid-media($neat-medium-full) {
         @include grid-column(2);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(1);
    }
}

.one-thirds-column-full {
    @include grid-column(1);
    @include grid-media($neat-small-full) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium-full) {
         @include grid-column(2);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(4);
    }
}

.two-thirds-column-full {
    @include grid-column(1);
    @include grid-media($neat-small-full) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium-full) {
         @include grid-column(4);
    }
    @include grid-media($neat-large-full) {
         @include grid-column(8);
    }
}

/*---------------------------------
Centered Columns
----------------------------------*/

.five-sixth-column {
    @include grid-column(1);
    @include grid-media($neat-small) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium) {
         @include grid-column(5);
        @include grid-push(.5);
    }
}

.two-thirds-column-centered {
    @include grid-media($neat-medium) {
         @include grid-push(1);
    }
}

.half-column-centered {
    @include grid-media($neat-small) {
         @include grid-column(2);
    }
    @include grid-media($neat-medium) {
         @include grid-column(3);
        @include grid-push(1.5);
    }
    @include grid-media($neat-large) {
         @include grid-push(3);
    }
}

.one-thirds-column-centered {
    @include grid-media($neat-medium) {
         @include grid-push(2);
    }
}

.margin-bottom{
  margin-bottom: 2rem;
}
