$nav-height: 8rem;
$nav-background-color: #fff;

.navigation {
    position: relative;
    z-index: 100;

    height: $nav-height;
    padding: $column-padding-regular;

    background: #fff;
    background: $nav-background-color;

    @include grid-media($neat-small) {
        padding: $column-padding-large;
    }

    ul {
        position: absolute;
        top: 0;
        right: $grid-gutter*2;

        display: flex;

        height: $nav-height;

        align-items: center;
        @include grid-media($neat-small) {
            right: $grid-gutter*3;
        }

        li {
            position: relative;

            display: flex;

            margin-left: 2rem;

            align-items: center;

            a {
                font-size: 0.8em;
            }
        }
    }
}
