$nav-height: 8rem;
$nav-background-color: #fff;

.navigation {
    background: #fff;
    height: $nav-height;
    position: relative;
    background: $nav-background-color;
    z-index:100;
    padding: $column-padding-regular;

    @include grid-media($neat-small) {
         padding: $column-padding-large;
    }


    ul {
        height: $nav-height;
        position: absolute;
        right: $grid-gutter*2;
        top: 0;
        display: flex;
        align-items: center;

        @include grid-media($neat-small) {
            right: $grid-gutter*3;
        }

        li {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 2rem;

            a {
                line-height: $nav-height;
            }
        }
    }
}
